canvas, pre {
  float: left;
}

pre {
    margin-left: 10px;
    background-color: black;
    width: 265px;
    height: 495px;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 0px;
}

#soundButton {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    position: absolute;
    left: 780px;
    top: 480px;
}

#hardButton {
    width: 200px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    position: absolute;
    left: 300px;
    top: 300px;
    background-color: black;
    color: white;
    font-size: 20px;
}

#difficulty {
    width: 400px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-width: 0px;
    position: absolute;
    left: 200px;
    top: 140px;
    color: black;
    font-size: 40px;
}

#help {
    width: 400px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-width: 0px;
    position: absolute;
    left: 200px;
    top: 200px;
    color: black;
    font-size: 20px;
}

a:link {
  color: #FFB6C1;
}

a:visited {
  color: #FFB6C1;
}